name: Mail Test
on: workflow_dispatch # 允许在页面手动点击运行

jobs:
  test-connection:
    runs-on: ubuntu-latest
    steps:
      - name: Send Test Email
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com # 如果是QQ邮箱改为 smtp.qq.com
          server_port: 465
          username: ${{ secrets.MAIL_USERNAME }}
          password: ${{ secrets.MAIL_PASSWORD }}
          subject: "GitHub Actions SMTP 测试"
          to: yahan@iscas.ac.cn # 发给自己进行测试
          from: GitHub Robot
          body: "如果你收到这封邮件，说明 MAIL_PASSWORD 和 SMTP 配置完全正确！"
